doctype html
html(lang="en", data-theme="dark")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="QS - Quick Start")

    link(rel="shortcut icon", href="img/icons/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/grid.min.css")
    link(rel="stylesheet", href="css/style.min.css")
    block styles
    
    block title
      title Default
  body.body
    block content
      h1 Default
    script(src="//kit.fontawesome.com/75cf6d0aef.js")
    script(src="js/libs/jquery.js")
    script(src="js/libs/jquery.lazy.js")
    script(src="js/script.js")
    block scripts